<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus consectetur fringilla. Morbi quis pulvinar nisl. Nulla id tellus id nisi porttitor commodo at vitae justo. Vestibulum lorem urna, maximus nec accumsan eu, egestas sit amet nulla. Etiam gravida lacus in sem cursus laoreet eu at lectus. Nullam tincidunt, diam sit amet gravida porttitor, mauris nulla interdum ante, quis malesuada est elit quis enim. Donec non ipsum eu turpis consequat placerat. Vivamus vitae turpis sem. Nullam ut lorem diam. Sed et eros et nisi viverra porttitor. Quisque non rutrum purus, at imperdiet tellus.
	</p>
</article>